.cont_padre{
    /* border: 1px black solid; */
    /* border: none; */
    border-radius: 20px;
    margin: auto;
    /* background-color: #cccc; */
}
.cont_izq{
    /* border: 1px white solid; */
    border: 1px #ccc solid;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    width: 18%;
    margin: 20px 7px;
    /* background-color: rgba(51,201,252,255); */
    padding: 15px 3px;
    
}
.cont_der{
    /* border: 1px #ccc solid; */
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    width: 79%;
    /* height: 500px; */
    margin: 20px 1px;
    padding: 10px 10px;
}
.menu1 {
    list-style-type: none;
  }
  
  .menu1 li {
    margin: 5px 0px;
  }
  
  .menu_opciones1 {
    display: block;
    padding: 10px 10px;
    width: 100%;
    font-size: 16px;
    color: #611232; /* Color del texto */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .menu_opciones1:hover {
    background-color:  #611232; /* Fondo al pasar el cursor */
    color: #ffffff; /* Color del texto al pasar el cursor */
  }
  
  .hr1 {
    border: none;
    height: 1px;
    background-color: #ddd;
  }
  .photo-icon {
    font-size: 80px;
    /* margin: 10px auto; */
    }
.cont_cuenta{
  /* border: 1px black solid; */
  margin-bottom: 30px;
}
.bg_disabled{
background-color: #ccc;
}